img{
    width: 100%;
    height: 100%;
}

.item{
    height: 250px;
    width: 250px;
    border: 5px solid black;
    border-radius: 5%;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
}

.catalogue{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}